.button{
    cursor: pointer;
    height: 5em;
    width: 5em;
    border: 1px solid #000;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    color: #fff;
   
}
.operator{
    color: #f0950d;
}